*.o
*.mu
.sconsign.dblite
*.root
pid/proton/proton_pid
pid/proton/common_runs
pid/electron/e_pid
pid/electron/common_runs
reso_histos
DONE_SEL
TODO_SEL
TOTA_SEL
canBeDeletedAtJlab
missing_files
fcMonitor/rootFiles
fcMonitor/img
fiducial/electron/e_fiducial
fiducial/proton/p_fiducial
e_kin_cor/momentum/e_mom_corr
pi0_selection/pi0_selection
vertex/vertex_corr_sel
acceptance/acc_histos/acc_histos
meson_histos/meson_histos
