body 
{ 
 background: url("http://www.jlab.org/~ungaro/template/background.gif");
 background-position: 0px -100px;
 background-color: #5475C6 ;
 color: #FFEEEE;
} 


.mytable
{
 font-family: Verdana, Arial, Helvetica, sans-serif;
 font-size: 7pt;
 font-style: normal;
 background-color:   #2a4781 ;
}
 
 a:hover   { color: #FF2222; background-color:   #2a4791 ;}
